.plannerCard{
    background-color: #fff;
    border-radius: 16px;
    padding: 2.4rem;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.06);
      font-size: 1.6rem;
}
.plannerMeal{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    border-bottom: 1px solid #eee;
   
  
}
.title{
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin-bottom: 1.2rem;
}
.btnRemove{
    padding: 0.4rem 0.8rem;
    font-size: 1.8rem;
}
.emty{

padding: 1.2rem 0;
}
.totalCal{
    display: flex;
    gap: 0.8rem;
    align-items: center;
    margin-top: 2.4rem;
    font-weight: 600;
   
}
.iconFire{
    color: #E67E22;
}