.sectionMealsPage {
  padding: 4.8rem 3.2rem;
}
.searchBox{
  display: flex;
  /* align-items: center; */
  gap: 0.8rem;
}
.iconSearch{
  font-size: 4rem;
}

.progressWrapper{
  background-color:var(--card);
  padding: 2.4rem;
  border-radius: 16px;
  margin-bottom: 4.8;
  box-shadow: 0 1.2rem 3.2rem rgba(0,0,0,0.06);
  position: sticky;
  top: 1rem;
  z-index: 10;
 
}
.progressInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}
.progressInfo p{
  font-size: 1.6rem;
  font-weight: 600;
}
.infoItem{
  display: flex;
  align-items: center;
  gap:0.8rem;
}
.progressBar{
  width: 100%;
  height: 1.2rem;
  background-color: #eee;
  border-radius: 100px;
  overflow: hidden;
   transition: width 0.5s ease;
}

.progressFill{
  height: 100%;
  background-color: var(--primary);
  border-radius: 100px;
  transition: all 0.4s;
  box-shadow: 0 0 1.2rem rgba(230,126,34,0.4);
}

.iconFire{
  font-size: 1.8rem;
  color: var(--primary);
}
.iconParty{
    font-size: 2rem;
  color: #51CF66;
  
}


.mealsContainer {
  margin: 6.4rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
}
.filters {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 4.8rem;
  flex-wrap: wrap;
}
.filterBtn {
  background-color: #f1f3f5;
  color: #333;
  padding: 1.2rem 2rem;
  font-size: 1.6rem;
}
.filterBtn:hover {
  background-color: var(--primary);
  color: #fff;
}
.activeFilter {
  background-color: var(--primary);
  color: #fff;
}
.mealBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
    flex-wrap: wrap;
    margin-bottom: 4.8rem;
}

.searchInput{
    width: 100%;
    padding: 1.2rem;
    font-size: 1.6rem;
    border-radius: 9px;
    border: 1px solid #ddd;
    max-width: 32rem;
    margin-bottom: 3.2rem;
}
.searchInput:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 0.3rem rgba(230,126,34,0.15);
}


.overlay{
  position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #311b0780;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2000;
  backdrop-filter: blur(6px);
}
.modal{
    max-width: 60rem;
    background: var(--tint1);
    padding: 5rem;
    border-radius: 1.2rem;
    width: 92%;
 text-align: left;
  animation: fadeIn 0.2s ease-in-out;
  box-shadow: 0 20px 60px rgba(0,0,0,0.2);
  max-height: 80vh;
  overflow-y: auto;
}
.modalHeader{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 3.2rem;
}
.modalHeader h3{
  font-size: 2.8rem;
  font-weight: 700;
  color: var(--textHeader);
  
}
.closeBtn{
  background: transparent;
  border: none;
  font-size: 2.8rem;
  cursor: pointer;
  opacity: 0.6;
  transition: 0.2s;
  color: var(--primary);
}
.closeBtn:hover{
  opacity: 1;
  transform: scale(1.1);
}
.summaryContainer{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 1.6rem;
}
.summary{
  font-size: 1.8rem;
}
.summaryIcon{
  color: var(--primary);
  font-size: 3rem;
}
.list{
  margin-top: 2rem;
padding-top: 2rem;
border-top: 1px solid rgba(0,0,0,0.08);
}
.list h4{
  margin-bottom: 1.8rem;
  font-size: 1.4rem;
}
.list ul{
  padding-left: 2rem;
  display: grid;
  gap:0.4rem;
}

.btnPlan{
 
  text-align: center;
  position: fixed;
  bottom:2rem;
  right: 2rem;
}





/******************************/
/* BELOW 1500px ( pc) */
/******************************/
@media (max-width: 94em) {
  .mealsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}


/******************************/
/* BELOW 912px (tablets) */
/******************************/

@media (max-width: 57em) {
   .mealsContainer {
    grid-template-columns: 1fr 1fr;
  }
}

/******************************/
/* BELOW 704px (ُSmaller tablets) */
/******************************/

@media (max-width: 44em) {
  .mealsContainer {
    grid-template-columns: 1fr;
  }
}
