.sectionMealsPage {
  padding: 4.8rem 3.2rem;
}
.searchBox{
  display: flex;
  /* align-items: center; */
  gap: 0.8rem;
}
.iconSearch{
  font-size: 4rem;
}

.progressWrapper{
  background-color:var(--card);
  padding: 2.4rem;
  border-radius: 16px;
  margin-bottom: 4.8;
  box-shadow: 0 1.2rem 3.2rem rgba(0,0,0,0.06);
  position: sticky;
  top: 1rem;
  z-index: 10;
 
}
.progressInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.6rem;
}
.progressInfo p{
  font-size: 1.6rem;
  font-weight: 600;
}
.infoItem{
  display: flex;
  align-items: center;
  gap:0.8rem;
}
.progressBar{
  width: 100%;
  height: 1.2rem;
  background-color: #eee;
  border-radius: 100px;
  overflow: hidden;
   transition: width 0.5s ease;
}

.progressFill{
  height: 100%;
  background-color: var(--primary);
  border-radius: 100px;
  transition: all 0.4s;
  box-shadow: 0 0 1.2rem rgba(230,126,34,0.4);
}

.iconFire{
  font-size: 1.8rem;
  color: var(--primary);
}
.iconParty{
    font-size: 2rem;
  color: #51CF66;
  
}


.mealsContainer {
  margin: 6.4rem auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 3.2rem;
}
.filters {
  display: flex;
  gap: 1.6rem;
  margin-bottom: 4.8rem;
  flex-wrap: wrap;
}
.filterBtn {
  background-color: #f1f3f5;
  color: #333;
  padding: 1.2rem 2rem;
  font-size: 1.6rem;
}
.filterBtn:hover {
  background-color: var(--primary);
  color: #fff;
}
.activeFilter {
  background-color: var(--primary);
  color: #fff;
}
.mealBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.2rem;
    flex-wrap: wrap;
    margin-bottom: 4.8rem;
}

.searchInput{
    width: 100%;
    padding: 1.2rem;
    font-size: 1.6rem;
    border-radius: 9px;
    border: 1px solid #ddd;
    max-width: 32rem;
    margin-bottom: 3.2rem;
}
.searchInput:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 0.3rem rgba(230,126,34,0.15);
}










/******************************/
/* BELOW 1200px (landscape tablets) */
/******************************/
@media (max-width: 75em) {
  .mealsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}
/******************************/
/* BELOW 912px (tablets) */
/******************************/

@media (max-width: 57em) {
   .mealsContainer {
    grid-template-columns: 1fr 1fr;
  }
}

/******************************/
/* BELOW 704px (ُSmaller tablets) */
/******************************/

@media (max-width: 44em) {
  .mealsContainer {
    grid-template-columns: 1fr;
  }
}
