.plannerContainer{
    font-size: 1.8rem;
    padding: 4.8rem 3.2rem;
    height: 100%;
}
.plannerContainer h3{
    font-size: 3rem;
    margin-bottom: 3.2rem;
    color: var(--textHeader);
}
.summaryCard{
    padding: 2.4rem;
    border-radius: 16px;
    box-shadow: 0 1.2rem 3.2rem rgba(0,0,0,0.06);
     display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3.2rem;
}
.summaryCard p{
font-size: 1.8rem;
font-weight: 600;
color: var(--text);
}
.plannerListBox{
  margin-bottom: 4.8rem;
}
.plannerList{
    display: grid;
    grid-template-columns: 3fr 1fr 0.5fr auto;
    gap: 2rem;
   
    justify-content: space-between;
    align-items: center;
    padding: 1.6rem 0;
    border-bottom: 1px solid var(--tint2);
   
}
.plannerList p{
     font-size: 2rem;
     font-weight: 500;
     text-align: left;
     
    

}
.dietTag{
    display: inline-block;
    padding: 0.4rem 0.8rem;
    border-radius: 100px;
    background-color: #51cf66;
    color: #fff;
    font-size: 1.6rem;
    text-transform: uppercase;
      text-align: center;
      align-self:stretch;
}
.btnRemove{
        padding: 0.4rem 0.8rem;
    font-size: 1.8rem;
    color: var(--tint1);
  
}
.iconFire{
        font-size: 1.8rem;
    color: #e67e22;
}
.iconParty{
    font-size: 2rem;
  color: #51CF66;
  
}
.planCompleteContainer{
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}
.planComplete{
    font-size: 3rem;
    text-align: center;
}
.overlay{
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #311b0780;
       display: flex;
    justify-content: center;
    align-items: center;
   
}
.modal{
    max-width: 60rem;
    background-color: var(--tint1);
    padding: 2.4rem;
    border-radius: 1.2rem;
    width: 90%;
 text-align: center;
  animation: fadeIn 0.2s ease-in-out;
 
}
.modal p{
     margin-bottom: 2.4rem;
     color: var(--textHeader);
}
.iconParty{
    font-size: 3.2rem;
}
@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
/******************************/
/* BELOW 704px (ُSmaller tablets) */
/******************************/

@media (max-width: 44em) {
    .summaryCard{
        flex-wrap: nowrap;
          display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    
    }
    .summaryCard p{
        border-bottom: 1px solid #eee;
        width: 100%;
        padding: 1.2rem 0;
    }
   
    
}